.note{
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;

  .note-description {
    overflow-y: scroll;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 3px;
    max-height: 150px;
  }

  .note-created {
    text-align: right;
    padding: 3px;
  }
}

.note:last-child{
  margin-bottom: 0px;
}

.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}